{% spaceless %}
<nav>
<ul class="nav nav-pills nav-stacked nav-nested">

  {% if inspector_class_context.usage('instance') > 0 %}
    <li>
      <a href="{{ view_path('instance:' ~ class.class) }}">
        <span class="badge pull-right">{{ inspector_class_context.instanceCount }}</span>
        New Instance Creation
      </a>
    </li>
  {% endif %}

  {% if inspector_class_context.usage('type_hint')|default(0) > 0 %}
    <li>
      <a href="{{ view_path('hint:' ~ class.class) }}"><span class="badge pull-right">{{ inspector_class_context.usage('type_hint') }}</span> Type Hinting</a>
    </li>
  {% endif %}

  {% if inspector_class_context.usage('annotation')|default(0) > 0 %}
    <li>
      <a href="{{ view_path('annotation:' ~ class.class) }}"><span class="badge pull-right">{{ inspector_class_context.usage('annotation') }}</span> Annotation</a>
    </li>
  {% endif %}

  {% if inspector_class_context.usage('doc_type')|default(0) > 0 %}
    <li>
      <a href="{{ view_path('doc:' ~ class.class) }}"><span class="badge pull-right">{{ inspector_class_context.usage('doc_type') }}</span> Docblock Type</a>
    </li>
  {% endif %}

  {% if inspector_class_context.usage('use')|default(0) > 0 %}
    <li>
      <a href="{{ view_path('use:' ~ class.class) }}"><span class="badge pull-right">{{ inspector_class_context.usage('use') }}</span> Use Import</a>
    </li>
  {% endif %}

  {% if inspector_class_context.usage('instanceof')|default(0) > 0 %}
    <li>
      <a href="{{ view_path('instanceof:' ~ class.class) }}"><span class="badge pull-right">{{ inspector_class_context.usage('instanceof') }}</span>
        Instance Of</a>
    </li>
  {% endif %}

  {% if inspector_class_context.methodCount > 0 %}
    <li>
      <a href="{{ view_path('method:' ~ class.class) }}">
        <span class="badge pull-right">{{ inspector_class_context.methodCount }}</span>
        Methods
      </a>

      <ul class="nav nav-pills nav-stacked">
        {% for method in inspector_class_context.classMethods %}
          <li>
            <a href="{{ view_path(inspector_class_context.className ~ ':' ~ method.key) }}">
              {{ method.key }} <span class="badge pull-right">{{ method.count }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>

    </li>

  {% endif %}

</ul>
</nav>
{% endspaceless %}