<div class="margin-bottom5">
  <h2 class="no-margin-bottom">Usage for:
    <a href="{{ view_path(inspector_class_context.className) }}">{{ inspector_class_context.className }}</a></h2>

  {% if inspector_class_context.class.file.project is defined %}
    {% if inspector_class_context.class.file.project.sourceUrl|default %}
      <a target="_blank" href="{{ inspector_class_context.class.file.project.sourceUrl|replace({'%file%': inspector_class_context.class.file.name, '%line%': 0 }) }}">
        <i class="fa fa-github"></i> {{ inspector_class_context.class.file.project.name }}
      </a>
    {% else %}
      {{ inspector_class_context.class.file.project.name }}
    {% endif %}
  {% endif %}
</div>

{% if inspector_class_context.class.docComment|length > 0 %}
  <p class="text-muted" style="font-size: 12px">
    {{ inspector_class_context.class.docComment|nl2br }}
  </p>
{% endif %}

<ul class="list-child-classes">
  {% for super_class in inspector_class_context.subClasses %}
    <li><a href="{{ view_path(super_class.class) }}">{{ super_class.class }}</a></li>
  {% endfor %}
</ul>