{% extends '::base.html.twig' %}

{% block title %}{% if method_name is defined %}Method {{ method_name }} for {% else %}Methods usage{% endif %} {{ inspector_class_context.className }}{% endblock %}

{% block content %}
  {% include 'espendInspectorFrontendBundle:Default/include:class_header.html.twig' only %}

  <section class="row">

    <div class="col-md-3">
      {% include '@espendInspectorFrontend/Default/include/class_menu.html.twig' %}
    </div>

    <div class="col-md-9">

      {% if methods|length > 0 %}
        <h2>Methods</h2>
        {% for method in methods %}

          <article class="panel panel-default panel-code-context">
            <div class="panel-heading">
              <h3><a href="{{ view_path(class.class ~ ':' ~ method.name) }}">{{ method.name }}</a> <span class="text-muted">{{ method.file.name }}</span></h3>

              {% include 'espendInspectorFrontendBundle:Default/include:project_link.html.twig' with {'file': method.file, 'line': method.line} only %}

            </div>
            <div class="panel-body">
              {% include 'espendInspectorCoreBundle:Default/include:code_context.html.twig' with {'instance': method} %}
            </div>
          </article>

        {% endfor %}
      {% endif %}

      {#
      <div class="navigation text-center">
        {{ knp_pagination_render(methods) }}
      </div>
      #}

    </div>

  </section>
{% endblock %}