{% extends '::base.html.twig' %}


{% block custom_stylesheets %}
  {% stylesheets filter='cssrewrite'
  'assets/home.css' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
  {% endstylesheets %}
{% endblock %}

{% block body %}

  <div class="container">

    <div class="row padding-bottom30">

      <div class="text-center logo">
        <a href="{{ path('espend_inspector_frontend_home') }}"><img src="{{ asset('assets/images/code-usage-com.png') }}"></a>
      </div>

      <div class="row">

        {% if error is defined %}
          <div class="text-center padding-bottom5"><strong>{{ error }}</strong></div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

          <div class="col-md-3">

          </div>

          <div class="col-md-5">
            {{ form_widget(form.q, {attr: {
              'class': 'form-control',
              'placeholder': 'Class, Method, ...',
            }}) }}
          </div>

          <div class="col-md-2">
            <button class="btn btn-primary">Search</button>
          </div>

          {{ form_rest(form) }}

          {{ form_end(form) }}

      </div>

    </div>

    <div class="row">

      <div class="col-md-2">
      </div>

      <div class="col-md-9">
        <ul class="support-icons">
          <li><a target="_blank" href="http://php.net" class="logo-php">PHP</a></li>
          <li><a target="_blank" href="http://symfony.com/" class="logo-symfony2">Symfony2</a></li>
          <li><a target="_blank" href="http://framework.zend.com/" class="logo-zend2">Zend Framework2</a></li>
          <li><a target="_blank" href="https://getcomposer.org/" class="logo-composer">Composer</a></li>
          <li><a target="_blank" href="https://github.com/" class="logo-github">GitHub</a></li>
        </ul>
      </div>

    </div>
  </div>


{% endblock %}