{% extends '::base.html.twig' %}

{% set result_items %}
      {% for result in results %}

        <div class="r">
          <h3><a href="{{ view_path(result.class) }}">{{ result.class }}</a></h3>

          <div class="r-t">

            <div class="r-f">
              {{ result.lastFoundAt|date('Y-m-d') }}
              {% if result.file %}
                 - {{ result.file.name }}
              {% endif %}
            </div>


            {% if result.docComment|length > 0 %}
              {{ result.docComment|truncate(100) }}
            {% endif %}

          </div>

          {% if result.project %}
            <ul>
              <li>{{ result.project.name }}{% if result.project.version %} - {{ result.project.version }}{% endif %}</li>
            </ul>
          {% endif %}

        </div>

      {% endfor %}
{% endset %}

{% block body %}
  <div class="container margin-top30">
    <h2>Search result '{{ search_name }}' ({{ result_count }})</h2>

    <div class="search well well-white">

      <div class="row">
        <div class="col-md-6">
          {{ result_items }}
        </div>
      </div>

      <div class="navigation text-center">
        {{ knp_pagination_render(results) }}
      </div>

    </div>

  </div>
{% endblock %}